section{
    background-image: url(../bilder/linux.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
}

section h2 { 
    font-family: Verdana, sans-serif; 
    font-style: normal;
    font-weight: bold; 
    font-size: 35px;
    color: purple;
    background-color: #FFFF00;
}
.test{
    font-family: "Times New Roman", serif; 
    font-style: normal;
    font-weight: normal; 
    font-size: 20px;
    color: red;
    background-color: blue;
}