code {
    font-family: Courier, sans-serif; 
    font-weight: normal; 
    font-size: 1.2em; 
    color: black;
}

code.screen {
    font-style: normal;
		color: blue;
}

code.printer {
    font-style: italic;
		color: red;
}

.keyword{
    font-family: Courier, sans-serif; 
    font-weight: bold; 
    font-size: 20px; 
    color: blue;
}

#Pommes {
color: #ffcc33 ;
}