table {
	border-collapse: collapse;
}


table caption {
	font-size: .8em;
	font-weight: bold;
	margin-bottom: .5em;
}

th, td {
	font-size: .8em;
	padding: .5em .75em;
}

td {
	border: 1px solid #aaaa00;
	text-align: right;
}

tfoot {
	font-style: italic;
	font-weight: bold;
}