* {
    margin: 0;
    padding: 0;
}
body {
		text-align: center;
		background-image: url(../bilder/background.png);
		background-attachment: fixed;
		background-size: cover;
		font-family: Arial, sans-serif;
}

#wrapper {
    /* background-color: #eeeeee; */
		width: 900px;
    /* border: 2px solid red; */ 
		margin: 0 auto;   
		text-align: left; 
		background-image: url(../bilder/durchsichtig8.png);  
}

header, nav, footer, aside, section {
    display: block;
}

header {
    /* background-color: yellow; */
		background-image: url(../bilder/plot2.png);
		width: 900px;
		height: 290px;
		background-position: center;
		background-repeat:no-repeat;
		background-size: cover;
		opacity:0.99;
		margin: 0 auto;
}
header p {
    /* background-color: orange; */
    text-align: right;
    padding-right: 15px;
    color: black;
}
header a {
    color: white;
}
#logotext {
    padding-top: 230px;
	
    font-size: 20pt;
    color: #FAC710;
}

#steuerungoben {
    /* background-color: red; */
    background-image: url(../bilder/grau-50.png);
    height: 24px;
}
#steuerungoben ul {
    list-style-type: none;
}
#steuerungoben li {
    display: inline;
}
#steuerungoben a {
    display: block;
    width: 150px;
    /* background-color: yellow; */
    float: left;
    /* border-right: 1px solid red; */
    text-align: center;
		line-height: 24px;
    color: white;
    text-decoration: none;
}
#steuerungoben a:hover {
    background-image: url(../bilder/grau-50.png);
}

#steuerunglinks {
    /* background-color: green; */
    width: 220px;
		float: left;
}
#steuerunglinks p {
 		margin-top: 20px;
    margin-left: 10px;
}
#steuerunglinks ul {
    padding-left: 2em;
		padding-top: 20px;
		list-style-type: disk;
}
#steuerunglinks ul ul {
    list-style-type: square;
}
#steuerunglinks li {
    padding-bottom: 0.5em;
}


aside {
    /* background-color: blue; */    
		width: 175px;
		float: right;
		
	}
aside p {
 		margin-top: 20px;
		margin-left: 10px;
		
}
aside img {
    border:1px solid silver;
	
}

section {
    /* background-color: orange; */
    margin-left: 250px;
    margin-right: 195px;
}

section h1 {
    padding-top: 20px;
    padding-bottom: 0.4em;
    color: #FAC710;
}
section p {
    padding-bottom: 1em;
	
}
section h2 {
    color: #aaaa00;
    padding-top: 1em;
    padding-bottom: 0.6em;
}
section ol {
    padding-left: 2em;
}
section ul {
    padding-left: 2em;
}
section li {
    padding-bottom: 0.5em;
}
section dl {
    padding-left: 1em;
}
section dd {
    padding-left: 1em;
}

footer {
    /* background-color: brown; */
    background-image: url(../bilder/grau-50.png);
    color: white;
    text-align: center;
		clear: both; /* float fuer footer aufheben */
}

h1 {
    color: #FAC711;
}